COMPOSE_PROJECT_NAME=scut-monitoring

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=monitoring
MYSQL_USER=monitoring
MYSQL_PASSWORD=monitoring

BACKEND_PORT=18081
FRONTEND_PORT=15173
PROMETHEUS_PORT=19090
GRAFANA_PORT=13000
SKYWALKING_OAP_GRPC_PORT=11800
SKYWALKING_OAP_HTTP_PORT=12800
SKYWALKING_UI_PORT=18082

AGENT_REGISTER_INTERVAL=15s
AGENT_HEARTBEAT_INTERVAL=10s
